
:root {
    --Almost-White: hsl(0, 0%, 98%)
    --Medium-Gray: hsl(0, 0%, 41%)
    --Almost-Black: hsl(0, 0%, 8%)
}

html {
    font-size: 62.5%;
    font-family: Epilogue ;
}

body {
    font-size: 1.6rem;
    
    
}

